body{
    background-color:rgb(77, 64, 64) ;
}

.nav{
    border: 2px solid darkorange;
}
p,
h3{
    color: white;

}
.w3-quarter{
    text-align: center;
    color: white;
}
header{
    align-content: center;
    border: 2px solid darkorange;
    text-align: center;
}


.nav-link{
    text-align: center;
    color: white;
}
.tablemenu{
    text-align: center;
    align-content: center;
    font-size: 30px;
    color: white;
}
footer{
    border: 1px solid darkorange;
    align-content: center;
    margin: left 200px;
}
@media screen and (max-width: 650px) {
body{
    height: auto;
}
}
