body{
    background-color:rgb(77, 64, 64) ;
}

.nav{
    border: 2px solid red;
    align-content: center;
    align-items: center;
    text-align: center;
    
}


p{
    color: white;
    border: 2px solid red;
}
h3{
    color: white;
    

}
.w3-quarter{
    text-align: center;
    color: white;
}
header{
    align-content: center;
    border: 2px solid red;
    text-align: center;
}
.card-body{
    background-color:rgb(77, 64, 64) ;
    color: white;
    border: 2px solid red;
    align-items: center;
    text-align: center;
}


.nav-link{
    text-align: center;
    color: white;
    align-content: center;
    align-items: center;

}
.tablemenu{
    text-align: center;
    align-content: center;
    font-size: 30px;
    color: white;
}
footer{
    border: 1px solid red;
    align-content: center;
    margin: left 200px;
}
@media screen and (max-width: 650px) {
body{
    height: auto;
}
}
